# line bot api ------------------------------------
line-bot-sdk
flask
werkzeug>=0.15.4
python-dotenv

# yolo ------------------------------------
Cython
matplotlib==3.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow
PyYAML>=5.3.1
scipy>=1.4.1
tensorboard>=2.2
tqdm>=4.41.0

# plotting ------------------------------------
seaborn>=0.11.0
pandas
